<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© 2023-{{ currentYear }}</span>
    </div>
    <a href="/admin/signin">Admin 登入</a>
</footer>